* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    width: 100%;
}
textarea {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 40px;
}
textarea:focus {
    outline: none;
}
button {
    margin: 0 auto;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
#gpt {
    width: 90%;
    max-width: 450px;
}
#gpt-response {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
}
#previous {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
}
#previous h3 {
    text-align: center;
}
#api {
    height: 40px;
    width: 100%;
    padding-left: 10px;
}
h3 {
    margin-top: 20px;
}
#stop-btn {
    display: none;
}
button {
    margin-top: 5px;
}